:root{
    --bg-light : rgb(230, 230, 230) ;
}
body{
    background-color: #313131 !important;
   
}
.fa-user-circle{
    color: rgb(68, 68, 68);
    font-size: 20px !important;
    line-height: 40px !important;
    width: 40px;
    cursor: pointer;
}
header .bg-light{
    background-color: var(--bg-light) !important;
}
header a{
    color: rgb(97, 97, 97);
}
ul li{
   margin:0 2px;
}

/* Sign Up : -- */
#signup-form{
    color: rgb(255, 255, 255);
    border: 1px solid rgb(177, 177, 177);
    width: 95vmin;
    margin: 2em auto;
    padding: 1em;
    border-radius: 5px;
    min-width: 300px;
    background-color: rgb(75, 75, 75);
}
#signup-form h1{
    text-align: center;
    margin: 0 0 1em 0;
}
#signup-form input[type="text"],#signup-form input[type="password"]{
    background-color: #ffffff;
}
#signup-form .form-check{
    margin: 5px 0;
    font-size: 14px;
}
/* ---------------------- */

/* Login : -- */
.login_form{
    margin-top: 100px !important;
}

.show_forgot{
    display: flex;
    justify-content: space-between;
}
.forgot_pass{
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    margin-top: 6px;
}
.forgot_pass:hover{
    color: #fff;
    text-decoration: underline;
}
.signup_link{
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    padding: 0 5px 3px 5px;
    text-decoration: none;
    background-color: #8b7272;
}
.signup_link:hover{
    color: #fff;
    text-decoration: underline;
}
/* ---------------------- */